<a href="https://colab.research.google.com/github/tugcebolat2/Pandas-ile-Veri-Manipulasyonu-2Veri-Bilimi-/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()
df.drop(labels=["SexCode"], axis=1, inplace=True)
df
df.drop(df[df["Sex"]!="male"].index)
df.drop_duplicates() #aynı veriler değer varsa düşürür.
df.drop_duplicates(subset=["Sex"])
df.drop_duplicates(subset=["Sex"], keep="last")
df.groupby(by=["Sex"]).mean() #erkek ve kadınların yaş ortalaması
df.groupby(by=["Sex"]).count() 
df.groupby(by=["Sex", "Survived"]).count()
df.groupby(by=["Sex", "Survived"]).mean() #ortalama

#isim döngüsü ilk 10
#for name in df["Name"] [:10]:
 # print(name.upper()) # upper bütün isimleri büyük harfle yazar
def uppercase(x):
  return x.upper()
df["Name"].apply(uppercase)
data_a = {"id": ["1", "2", "3"],
     "isim": ["Attila",  "Sabahattin", "Mavi"],
     "soyisim": ["İlhan", "Ali", "Manto"]}
data_b = {"id": ["4", "5", "6"],
     "isim": ["Papatya", "Lale", "Gül"],
     "soyisim" : ["Bulut", "Currie", "Mona"]}
pd.DataFrame(data_a)       
df_a = pd.DataFrame(data_a)
df_b = pd.DataFrame(data_b)
pd.concat([df_a, df_b], axis=1) #axis =1 ile sütundan birleşim olur.
concat_df = pd.concat([df_a, df_b], axis=0)
concat_df.head()

employee_data = {"employee_id": ["1", "2", "3", "4"],
           "name": ["Attila İlhan", "Sabahattin Ali", "Mavi Manto",
                "Alex Miago"]}
sales_data = {"employee_id": ["3", "4", "5","6"],
     "total_sales": [23456, 2512, 2345, 1455]}     

employee = pd.DataFrame(employee_data)    
sales = pd.DataFrame(sales_data)    

pd.merge(employee, sales, on= "employee_id", how= "right")  #how=outer,left

  employee_id        name  total_sales
0           3  Mavi Manto        23456
1           4  Alex Miago         2512
2           5         NaN         2345
3           6         NaN         1455